<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: red;">Here Is My Flight List page!</h1>
    {% for item in flight %}
        <hr>
        <p>Origin: {{ item.origin }}</p>
        <p>flight_number: {{ item.flight_number }}</p>
        <p>seat: {{ item.seat }}</p>
        <p style="color: blue;">name: {{ item.name }}</p>
        <p>price: {{ item.price }}</p>
    {% endfor %}
</body>
</html>